/* Body with temporary battleground image */
body{
    background-image: url(./images/virdianForest.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #ffcc00;
}

#partyButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    /* align-items: right ;
    justify-content: right; */
}



.playerteam {
    border: solid 2px black;
    border-radius: 50%;
    background-color: darkgray;
    height: 25%;
    width: 25%;

}

.oppoteam {
    border: solid 2px black;
    border-radius: 50%;
    background-color: darkgray;
    height: 25%;
    width: 25%;

}

.playerPoke {
    /* padding-top: 1%; */
    display: flex;
    flex-direction: column;
    /* align-items: end; */
    /* justify-content:flex-end; */

}

.oppoPoke {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: end;
    /* justify-content:flex-end; */

}

#oppoParty {
    /* border: solid 2px black; */
    display: flex;
    flex-direction: column;
    /* justify-content:flex-end; */
}

#roster {
    display: flex;
    /* flex-direction: row; */
    align-items: end;
    justify-content:space-between;
}

.hp-bar {
    width: 100px;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
}
.hp-bar-fill {
    height: 100%;
    background-color: limegreen;
}

#battleBox {
    display: flex;
    justify-content: center;
    
}

#inBattle {
    height: 70%;
    width: 70%;
    margin-right: 60%;
    border: solid 5px black;
    border-radius: 10%;
    background-color: darkgrey;
}

#inBattleOppo {
    height: 70%;
    width: 70%;
    margin-bottom: 90%;
    margin-left: 50%;
    border: solid 5px black;
    border-radius: 10%;
    background-color: darkgrey;
}

/* #battleBoxOpponent {
    margin-top: 5%;
} */

#trainerMoves {
    border: solid 3px black;
    background-color: aliceblue;
    display: grid;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    grid-template-columns: 60% 60%;
    justify-content:flex-start;
    width: 10%;
}

#opponentMoves {
    border: solid 3px black;
    background-color: aliceblue;
    display: grid;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    grid-template-columns: 60% 60%;
    justify-content: center;
}


/* BUTTONS */

.attackButton {
    /* border: solid 2px black; */
    border-radius: 50%;
    font-size: 30px;
    width: 130%;
    background-color: rgb(235, 113, 113);
}

.button1 {
    display: flex;
    justify-content: left;
}

.button2 {
    display: flex;
    justify-content: right;
}

.btn {
    border-radius: 0%;
    /* font-size: 15px; */
    height: 170%;
    width: 20%;
    background-color: rgb(141, 225, 249);
}
/* BUTTONS ^ */





/* battling animation from AniCollection */
/*base code*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/*the animation definition*/
@-webkit-keyframes tada {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1)
    }
    10%,
    20% {
      -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
    }
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    }
    40%,
    60%,
    80% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1)
    }
}
@keyframes tada {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      -ms-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1)
    }
    10%,
    20% {
      -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
      -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
    }
    30%,
    50%,
    70%,
    90% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    }
    40%,
    60%,
    80% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      -ms-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1)
    }
}
.tada {
    -webkit-animation-name: tada;
    animation-name: tada
}
  








